:root {
    --darkB: #006699;
    --midB: #0096b9;
    --lightB: #00bbab;
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size: 20px
}

.filler {
  background-color: var(--midB); /* dark blue color */
  position: absolute;
  top: 0px;
  height: 130px;
  width: 100%;
  margin: 0;
  
}

header {
    background-color: var(--midB); /* dark blue color */
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 20px;
    margin-top: 20px;
    height: 70px;
    display: flex;
    justify-content: center; /* center the ul elements within the nav element */
    align-items: center; /* vertically center the text within the ul elements */
    justify-content: space-between; /* position the left and right elements on opposite sides of the header */
    position: sticky; /* position the header at the top of the page */
    top: 0; /* keep the header at the top of the page as the user scrolls */
    max-width: 100%; /* make the header span the full width of the page */
    z-index: 1; /* make the header appear above other elements on the page */
}

.left {
    font-size:50px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5px;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    color:white;
    text-decoration: none;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

main h2 {
    margin: 20px 0;
    font-size: 34px;
}

.coolForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coolForm input {
    width: 50vw;
    margin-bottom: 15vh;
    border: none;
    border-bottom: 1px solid var(--darkB);
    background-color: transparent;
    font-size: 40px;
    font-weight:bold;
    color: var(--lightB);
    text-align: center;
}

.coolForm input:focus {
    outline: none;
}

.coolForm select {
    width: 50vw;
    border: none;
    border-bottom: 1px solid var(--darkB);
    background-color: transparent;
    font-size: 40px;
    font-weight:bold;
    color: var(--lightB);
    text-align: center;
}

.coolForm select:focus {
    outline: none;
}

.coolForm button {
    margin: 20px;
    padding: 20px;
    width: 50vw;
    height: auto;
    outline: none;
    border: none;
    background-color: var(--midB);
    font-size: xx-large;
    color: white;
}

.centerpiece {
    text-align:center;
    color:var(--darkB);  
    font-size: 200px;
    font-weight:bold;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.centerAchieve {
    color:var(--darkB); 
    font-size:120px;
    font-weight: bold;
}

.centerWords {
    text-align:center; 
    color: black;
    font-size:45px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

section {
    margin: 80px 0;
}

footer {
    background-color: var(--midB);
    color: black;
    padding: 20px;
    text-align: center;
}

.button {
    background-color: #00b8d4; /* blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  
    width: 150px; /* set a fixed width for the button */
    text-align: center; /* center the text within the button */
    text-decoration: none;
}

.button:hover {
    background-color: #00acc1; /* slightly darker blue color on hover */
}
